.activity__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.activity-list {
    display: flex;
}

.activity-list__items {
    flex-basis: calc((100% - 90px)/3);
    position: relative;
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.activity-list__block {
    color: var(--thirdty-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.activity-list__text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}