:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --thirdty-text-color: #ffffff;
    --accent-color: #2196f3;
    --footer-background-color: #2f303a;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
}